//
// Variables in this file will override all Bulma's/Buefy's default variables
// NOTE FOR EDITOR: DO NOT REMOVE COMMENTED DEFAULT VARIABLES FROM THIS FILE!
//

// Bulma's functions to
@function powerNumber($number, $exp) {
    $value: 1;

    @if ($exp > 0) {
        @for $i from 1 through $exp {
            $value: $value * $number;
        }
    }
    @else if ($exp < 0) {
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }

    @return $value;
}

@function colorLuminance($color) {
    $color-rgb: ('red': red($color),'green': green($color),'blue': blue($color));

    @each $name, $value in $color-rgb {
        $adjusted: 0;
        $value: $value / 255;

        @if ($value < 0.03928) {
            $value: $value / 12.92
        }
        @else {
            $value: ($value + .055) / 1.055;
            $value: powerNumber($value, 2);
        }

        $color-rgb: map-merge($color-rgb, ($name: $value));
    }

    @return (map-get($color-rgb, 'red') * .2126) + (map-get($color-rgb, 'green') * .7152) + (map-get($color-rgb, 'blue') * .0722);
}

@function findColorInvert($color) {
    @if (colorLuminance($color) > 0.55) {
        @return rgba(#000, 0.7);
    }
    @else {
        @return #fff;
    }
}


//
// Bulma's initial color variables
//

// $black:        hsl(0, 0%, 4%) !default
$black:        hsl(0, 0%, 4%);
// $black-bis:    hsl(0, 0%, 7%) !default
$black-bis:    hsl(0, 0%, 7%);
// $black-ter:    hsl(0, 0%, 14%) !default
$black-ter:    hsl(0, 0%, 14%);

// $grey-darker:  hsl(0, 0%, 21%) !default
$grey-darker:  hsl(0, 0%, 21%);
// $grey-dark:    hsl(0, 0%, 29%) !default
$grey-dark:    hsl(0, 0%, 29%);
//$grey:         hsl(0, 0%, 48%) !default
$grey:         hsl(0, 0%, 47%);
// $grey-light:   hsl(0, 0%, 71%) !default
$grey-light:   hsl(0, 0%, 71%);
// $grey-lighter: hsl(0, 0%, 86%) !default
$grey-lighter: hsl(0, 0%, 86%);

// Aibidia's extra grey shades
$grey-lightest: #F5F5F5;
$grey-table-border: #CCCCCC;

$hover-shadow: #00000078;

// $white-ter:    hsl(0, 0%, 96%) !default
$white-ter:    hsl(0, 0%, 96%);
// $white-bis:    hsl(0, 0%, 98%) !default
$white-bis:    hsl(0, 0%, 98%);
// $white:        hsl(0, 0%, 100%) !default
$white:        hsl(0, 0%, 100%);

// $orange:       hsl(14,  100%, 53%) !default
$orange:       hsl(14,  100%, 53%);
// Aibidia's extra orange shade
$orange-light: lighten($orange, 24%);
// $yellow:       hsl(48,  100%, 67%) !default
$yellow:       hsl(48,  100%, 67%);
// Aibidia's extra yellow shade
$yellow-light: lighten($yellow, 8%);

// $green:        hsl(141, 71%,  48%) !default
$green:        #54bc4c;
// Aibidia's extra green shade
$green-light: lighten($green, 5%);

// Aibidia's extra mint shades
$mint: #60CEC6;
$mint-light: lighten($mint, 10%);
$mint-lighter: lighten($mint, 30%);
$mint-lightest: lighten($mint, 37%);
$mint-invert: $white;

// $turquoise:    hsl(171, 100%, 41%) !default
$turquoise:    hsl(171, 100%, 41%);
// $cyan:         hsl(204, 86%,  53%) !default
$cyan:         hsl(204, 86%,  53%);
// $blue:         hsl(217, 71%,  53%) !default
$blue:         hsl(217, 71%,  53%);
// Aibidia's extra blue shades
$blue-light: lighten($blue, 19%);

// $purple:       hsl(271, 100%, 71%) !default
$purple:       #934bc9;
$purple-transparent:       #934bc999;
// Aibidia's extra purple shades
$purple-dark: #561199;
$purple-dim: lighten($purple, 6%);
$purple-light: lighten($purple, 16%);
$purple-lighter: lighten($purple, 30%);
$purple-lightest: lighten($purple, 38%);
$purple-invert: $white;

// $red:          hsl(348, 100%, 61%) !default
$red: #D43C67;
// Aibidia's extra red shades
$red-light: lighten($red, 10%);
$red-lighter: lighten($red, 31%);

//
// Bulma's invert colors (basically black or white based on color's shade)
//

// $orange-invert: findColorInvert($orange) !default
$orange-invert: findColorInvert($orange);
// $yellow-invert: findColorInvert($yellow) !default
$yellow-invert: findColorInvert($yellow);
// $green-invert: findColorInvert($green) !default
$green-invert: findColorInvert($green);
// $turquoise-invert: findColorInvert($turquoise) !default
$turquoise-invert: findColorInvert($turquoise);
// $cyan-invert: findColorInvert($cyan) !default
$cyan-invert: findColorInvert($cyan);
// $blue-invert: findColorInvert($blue) !default
$blue-invert: findColorInvert($blue);
// $purple-invert: findColorInvert($purple) !default
$purple-invert: findColorInvert($purple);
// $red-invert: findColorInvert($red) !default
$red-invert: findColorInvert($red);

//
// Bulma's derived colors
//

// $primary: $turquoise !default
$primary: $purple;
$primary-transparent: $purple-transparent;
// Aibidia's extra primary shades
$primary-light: $purple-light;
$primary-lighter: $purple-lighter;
$primary-lightest: $purple-lightest;
$primary-dark: $purple-dark;

// $info: $cyan !default
$info: $blue;
// Aibidia's extra info shades
$info-light: $blue-light;

// $success: $green !default
$success: $mint;
$success-light: $mint-light;
$success-lighter: $mint-lighter;
$success-lightest: $mint-lightest;

// $warning: $yellow !default
$warning: $yellow;
$warning-light: $yellow-light;

// $danger: $red !default
$danger: $red;
// Aibidia's extra danger shades
$danger-light: $red-light;
$danger-lighter: $red-lighter;

// $light: $white-ter !default
$light: $white-ter;
// $dark: $grey-darker !default
$dark: $grey-darker;

// $primary-invert: $turquoise-invert !default
$primary-invert: $purple-invert;
// $info-invert: $cyan-invert !default
$info-invert: $blue-invert;
// $success-invert: $green-invert !default
$success-invert: $mint-invert;
// $warning-invert: $yellow-invert !default
$warning-invert: $yellow-invert;
// $danger-invert: $red-invert !default
$danger-invert: $red-invert;
// $light-invert: $dark !default
$light-invert: $dark;
// $dark-invert: $light !default
$dark-invert: $light;

//
// Bulma's link colors
//

// $link: $blue !default
$link: $blue;
// $link-invert: $blue-invert !default
$link-invert: $blue-invert;

//
// Bulma's default lists and maps
//

// $colors: (
    // "white": ($white, $black),
    // "black": ($black, $white),
    // "light": ($light, $light-invert),
    // "dark": ($dark, $dark-invert),
    // "primary": ($primary, $primary-invert),
    // "link": ($link, $link-invert),
    // "info": ($info, $info-invert),
    // "success": ($success, $success-invert),
    // "warning": ($warning, $warning-invert),
    // "danger": ($danger, $danger-invert)
    // ) !default
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "primary-light": ($primary-light, $primary-invert),
    "primary-lighter": ($primary-lighter, $primary-invert),
    "primary-lightest": ($primary-lightest, $primary-invert),
    "primary-dark": ($primary-dark, $primary-invert),
    "purple": ($purple, $purple-invert),
    "purple-light": ($purple-light, $white),
    "purple-lighter": ($purple-lighter, $white),
    "purple-lightest": ($purple-lightest, $white),
    "link": ($link, $link-invert),
    "info": ($info, $info-invert),
    "info-light": ($info-light, $info-invert),
    "success": ($success, $success-invert),
    "success-light": ($success-light, $success-invert),
    "success-lighter": ($success-lighter, $success-invert),
    "success-lightest": ($success-lightest, $success-invert),
    "warning": ($warning, $warning-invert),
    "warning-light": ($warning-light, $warning-invert),
    "orange-light": ($orange-light, $orange-invert),
    "danger": ($danger, $danger-invert),
    "danger-light": ($danger-light, $danger-invert),
    "danger-lighter": ($danger-lighter, $danger-invert),
);

// $shades: (
    // "black-bis": $black-bis,
    // "black-ter": $black-ter,
    // "grey-darker": $grey-darker,
    // "grey-dark": $grey-dark,
    // "grey": $grey,
    // "grey-light": $grey-light,
    // "grey-lighter": $grey-lighter,
    // "white-ter": $white-ter,
    // "white-bis": $white-bis
    // ) !default
$shades: (
    "black-bis": $black-bis,
    "black-ter": $black-ter,
    "grey-darker": $grey-darker,
    "grey-dark": $grey-dark,
    "grey": $grey,
    "grey-light": $grey-light,
    "grey-lighter": $grey-lighter,
    "white-ter": $white-ter,
    "white-bis": $white-bis
);

//
// Aibidia's extra color variables
//

// Basic background color palette
$white-bg: #f4f6f9;
$black-bg: #181818;

// General hover color lightening percentage.
$hover-lighten-pct: 10.5%;
